@model DataKommula.Models.BookStore

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookStore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManagerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManagerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.establishedyear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.establishedyear)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.BookStoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
