@model IEnumerable<DataKommula.Models.BookStore>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.establishedyear)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.establishedyear)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BookStoreId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BookStoreId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BookStoreId">Delete</a>
        </td>
    </tr>
}
</table>
